body {
  background-color: #FDF6EB;
  font-family: 'Baloo 2', sans-serif;
  margin: 0;
  padding: 15px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
  margin: 70px 0 0 300px;
  box-shadow: 0px 0px 8px #30303030;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
}


.dashboard-aluno {
  padding: 20px;
}

.continue-licao {
  display: flex;
  align-items: center;
  gap: 20px;
}

.continue-licao img {
  width: 200px;
  height: 200px;
}

.continue-licao img:hover {
  transform: scale(1.05) rotate(-5deg);
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.continue-licao h2 {
  font-size: 24px;
}

section {
  margin-top: 40px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Cards */
.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding-bottom: 10px;
  max-width: 100%;
}

.card {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.card:hover {
  background-color: #732D91;
  transform: scale(0.95);
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.sugestao {
  background-color: #8E44AD;
  color: white;
}

.card.basico {
  background-color: #A7D8F8; /* azul claro */
  color: #000;
}

.card.intermediario {
  background-color: #B8E9C0; /* verde claro */
  color: #000;
}

.card.avancado {
  background-color: #D4C2F0; /* roxo claro */
  color: #000;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}
.scroll-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
/* Fim Cards */

/* topbar-main */
.topbar-main {
  background-color: #6c40d4;
  color: white;
  width: 98%;
  height: 60px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.topbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-main h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
}
/* Fim topbar-main */


/* Botões */
.btn-excluir {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn-excluir:hover {
  background-color: #FF66C4;
  color: white;
  transform: scale(1.1);
}

.btn-salvar {
  background-color: #d1d1d1;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  align-self: center;
}

.btn-salvar:hover {
  background-color: #6c40d4;
  color: white;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
/* Fim Botões */

/* Formulários */
form#formEditarPerfil {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.5rem;
}

.campo {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  justify-content: space-between;
  gap: 1rem;
}

.campo label {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.campo input {
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  background-color: #e0e0e0;
  font-size: 1rem;
  outline: none;
}

.campo input:focus {
  border: 2px solid #4b9cd3;
  background-color: #fff;
}

/* Fim Formulários */

@media (max-width: 768px) {
  body {
    padding: 9px;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 70px 0 0 0;
    box-shadow: 0px 0px 8px #30303030;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
  }

  section {
    margin-top: 10px;
  }

  .sugestoes {
    padding: auto;
  }

  .card {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    padding: 20px;
    word-break: normal;
    font-size: 14px;
  }

  /* Ajustes na topbar */
  .topbar-main h1 {
    font-size: 1.4rem;
  }
  /* Fim ajustes na topbar */

  /* Ajustes nos botões */

  .btn-excluir {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .btn-salvar {
    width: 100%;
  }
  /* Fim ajustes nos botões */

  /* Ajustes no formulário */

  form#formEditarPerfil {
    width: 100%;
    padding: 0 1rem;
  }
  /* Fim ajustes no formulário */
}