body {
  background-color: #FDF6EB;
  font-family: 'Baloo 2', sans-serif;
  margin: 0;
  padding: 15px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  margin: 70px 0 0 300px;
  box-shadow: 0px 0px 8px #30303030;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
}


.top-bar {
  background-color: #6c40d4;
  width:100%;
  color: white;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.top-bar h1 {
  font-size: 28px;
  line-height: 1.2;
}

.barra-controles {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.barra-controles label {
  font-size: 16px;
}

.barra-controles select {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.contador {
  background-color: white;
  color: #6c40d4;
  padding: 8px 14px;
  border-radius: 999px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.contador span {
  font-size: 20px;
}

.tabelas { 
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.tabela-box {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  width: 44%;
  min-width: 400px;
}

.tabela-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.tabela-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #333;
  color: white;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #444;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #555;
}

tbody tr:last-child td {
  border-bottom: none;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    min-width: 410px;
    height: 100%;
    margin: 80px 0;
    padding: 1rem;
    background-color: transparent;
    box-shadow: none;
    border-radius: 10px;
  }

  .top-bar {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .barra-controles {
    flex-direction: column;
    align-items: center;
  }

  .tabelas {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .tabela-box {
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    margin: 0;
  }

  th, td {
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid #555;
  }
}