/* Sidebar geral */
.sidebar {
  position: fixed;
  z-index: 2;
  background-color: #fff;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: #30303030 0px 0px 10px 0px;
}

/* Cabeçalho da sidebar */
.sidebar-header {
  padding: 20px;
}

/* Logo no topo */
.logo_horizontal {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* Lista da sidebar */
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Removemos os estilos do <li>, agora o <a> recebe tudo */
.sidebar li {
  padding: 0;
  margin-bottom: 10px;
}

/* Estilo padrão dos links da sidebar, exceto o do logo */
.sidebar a:not(.logo-link) {
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-left: 30px;
  background-color: #644BBE;
  box-shadow: 0 2px 4px #ccc;
  transition: all 0.3s ease;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 60px;
  text-decoration: none;
  font-family: 'Baloo 2', sans-serif;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  box-sizing: border-box;
}

/* Hover e ativo, exceto logo */
.sidebar a:not(.logo-link):hover,
.sidebar a:not(.logo-link).active {
  background-color: #FF66C4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.04);
}

/* Ícones */
.icon_menu {
  margin-right: 10px;
  height: 30px;
}

/* Botão hamburger */
.hamburger {
  display: none;
  position: fixed;
  z-index: 1001;
  font-size: 2rem;
  border-radius: 8px;
  padding: 2px 7px;
  border: none;
  cursor: pointer;
  color: #644BBE;
}

/* Responsividade */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    width: 250px;
    z-index: 1000;
  }

  .sidebar.active_menu {
  transform: translateX(0);
  }

  .sidebar-header {
  margin-top: 60px;
  }
  .hamburger {
    display: block;
    background-color: #644BBE;
    color: white;
  }

  .sidebar li {
    width: 100%;
  }
}
