<!-- style -->
<link rel="stylesheet" href="../styles/header.css" />

<!-- Header-->
<header class="topbar">
  <div class="progresso-container">
    <span class="label-progresso">Progresso:</span>
    <div class="barra-progresso">
      <div class="progresso" style="width: 65%">65%</div>
    </div>
  </div>
  <h2 class="saldacao">Olá, Aluno</h2>

  <a href="../dashboard_aluno/perfil/" class="avatar-link">
    <img src="../img/avatar.png" alt="Avatar do aluno" class="avatar" />
  </a>
</header>
<!-- Fim do Header -->
