<!-- style -->
<link rel="stylesheet" href="/src/styles/header.css" />

<!-- Header-->
<header class="topbar">
  <div class="progresso-container">
    <span class="label-progresso">Progresso:</span>
    <div class="barra-progresso">
      <div class="progresso"></div>
    </div>
  </div>
  <h2 class="saldacao">Olá, Aluno</h2>

  <a href="/src/dashboard_aluno/perfil/" class="avatar-link">
    <img
      id="headerUserAvatar"
      src="/src/img/perfil_avatar/avatar_01.svg"
      alt="Avatar do aluno"
      class="avatar"
    />
  </a>
</header>
<!-- Fim do Header -->
