<!-- style -->
<link rel="stylesheet" href="/src/styles/sidebar.css" />

<!-- Botão hamburguer -->
<button class="hamburger" id="hamburgerBtn">☰</button>

<!-- Sidebar -->
<aside class="sidebar">
  <div class="sidebar-header">
    <a href="/src/index.html" class="logo-link">
      <img
        src="/src/img/logo_horizontal.svg"
        alt="Logo MonsterTalk"
        class="logo_horizontal"
      />
    </a>
  </div>

  <nav>
    <ul>
      <li>
        <a href="/src/dashboard_professor">
          <img
            src="/src/img/icon_painel.svg"
            alt="icone painel professor"
            class="icon_menu"
          />
          Painel
        </a>
      </li>

      <li>
        <a href="/src/dashboard_professor/classes/index.html">
          <img
            src="/src/img/icon_classe.svg"
            alt="icone classes"
            class="icon_menu"
          />
          Classes
        </a>
      </li>

      <li>
        <a href="/src/dashboard_professor/alunos/index.html">
          <img
            src="/src/img/icon_alunos.svg"
            alt="icone Alunos"
            class="icon_menu"
          />
          Alunos
        </a>
      </li>

      <li>
        <a href="/src/dashboard_professor/curriculo/index.html">
          <img
            src="/src/img/icon_curriculo.svg"
            alt="icone Currículo"
            class="icon_menu"
          />
          Currículo
        </a>
      </li>

      <li>
        <a href="/src/dashboard_professor/licoes/index.html">
          <img
            src="/src/img/icon_licoes.svg"
            alt="icone Lições"
            class="icon_menu"
          />
          Lições
        </a>
      </li>

      <li>
        <a href="/src/dashboard_professor/forum/index.html">
          <img
            src="/src/img/icon_forum.svg"
            alt="iconeFórum"
            class="icon_menu"
          />
          Fórum
        </a>
      </li>
    </ul>
  </nav>
</aside>
<!-- Fim Sidebar -->
