<!-- style -->
<link rel="stylesheet" href="/src/styles/sidebar.css" />

<!-- Botão hamburguer -->
<button class="hamburger" id="hamburgerBtn">☰</button>

<!-- Sidebar -->
<aside class="sidebar">
  <div class="sidebar-header">
    <a href="/src/dashboard_aluno" class="logo-link">
      <img
        src="/src/img/logo_horizontal.svg"
        alt="Logo MonsterTalk"
        class="logo_horizontal"
      />
    </a>
  </div>

  <nav>
    <ul>
      <li>
        <a href="/src/dashboard_aluno">
          <img
            src="/src/img/icon_monsterhub.svg"
            alt="icone Monster Hub"
            class="icon_menu"
          />
          Monster Hub
        </a>
      </li>

      <li>
        <a href="/src/dashboard_aluno/turmas/index.html">
          <img
            src="/src/img/icon_classe.svg"
            alt="icone classe"
            class="icon_menu"
          />
          Turmas
        </a>
      </li>

      <li>
        <a href="/src/dashboard_aluno/progresso/index.html">
          <img
            src="/src/img/icon_progresso.svg"
            alt="icone Progresso"
            class="icon_menu"
          />
          Meu Progresso
        </a>
      </li>

      <li>
        <a href="/src/dashboard_aluno/perfil/index.html">
          <img
            src="/src/img/icon_perfil.svg"
            alt="icone Perfil"
            class="icon_menu"
          />
          Meu Perfil
        </a>
      </li>

      <li>
        <a href="#" id="logoutBtn">
          <img
            src="/src/img/icon_logout.svg"
            alt="icone logout"
            class="icon_menu"
          />
          Sair
        </a>
      </li>
    </ul>
  </nav>
</aside>
<!-- Fim Sidebar -->
