<!-- style -->
<link rel="stylesheet" href="/src/styles/sidebar.css" />

<!-- Botão hamburguer -->
<button class="hamburger" id="hamburgerBtn">☰</button>

<!-- Sidebar -->
<aside class="sidebar">
  <div class="sidebar-header">
    <a href="/src/dashboard_professor" class="logo-link">
      <img
        src="/src/img/logo_horizontal.svg"
        alt="Logo MonsterTalk"
        class="logo_horizontal"
      />
    </a>
  </div>

  <nav>
    <ul>
      <li>
        <a href="/src/dashboard_professor">
          <img
            src="/src/img/icon_painel.svg"
            alt="icone painel professor"
            class="icon_menu"
          />
          Painel
        </a>
      </li>

      <li>
        <a href="/src/dashboard_professor/turmas/index.html">
          <img
            src="/src/img/icon_classe.svg"
            alt="icone classes"
            class="icon_menu"
          />
          Turmas
        </a>
      </li>

      <li>
        <a href="/src/dashboard_professor/licoes/index.html">
          <img
            src="/src/img/icon_licoes.svg"
            alt="icone Lições"
            class="icon_menu"
          />
          Lições
        </a>
      </li>

      <li>
        <a href="/src/dashboard_professor/perfil/index.html">
          <img
            src="/src/img/icon_perfil.svg"
            alt="icone Perfil"
            class="icon_menu"
          />
          Meu Perfil
        </a>
      </li>

      <li>
        <a href="#" id="logoutBtn">
          <img
            src="/src/img/icon_logout.svg"
            alt="icone logout"
            class="icon_menu"
          />
          Sair
        </a>
      </li>
    </ul>
  </nav>
</aside>
<!-- Fim Sidebar -->
