<!-- style -->
<link rel="stylesheet" href="/src/styles/sidebar.css" />

<!-- Botão hamburguer -->
<button class="hamburger" id="hamburgerBtn">☰</button>

<!-- Sidebar -->
<aside class="sidebar">
  <div class="sidebar-header">
    <a href="/src/index.html">
      <img
        src="/src/img/logo_horizontal.svg"
        alt="Logo MonsterTalk"
        class="logo_horizontal"
      />
    </a>
  </div>

  <nav>
    <ul>
      <a href="/src/dashboard_aluno">
        <li>
          <img
            src="/src/img/icon_monsterhub.svg"
            alt="icone Monster Hub"
            class="icon_menu"
          />
          Monster Hub
        </li>
      </a>
      <a href="/src/dashboard_aluno/classe/index.html">
        <li>
          <img
            src="/src/img/icon_classe.svg"
            alt="icone classe"
            class="icon_menu"
          />
          classe
        </li>
      </a>

      <a href="/src/dashboard_aluno/progresso/index.html">
        <li>
          <img
            src="/src/img/icon_progresso.svg"
            alt="icone Progresso"
            class="icon_menu"
          />
          Meu Progresso
        </li>
      </a>
      <a href="/src/dashboard_aluno/forum/index.html">
        <li>
          <img
            src="/src/img/icon_forum.svg"
            alt="iconeFórum"
            class="icon_menu"
          />
          Fórum
        </li>
      </a>
    </ul>
  </nav>
</aside>
<!-- Fim Sidebar -->
