<!-- Botão hamburguer -->
<button class="hamburger" id="hamburgerBtn">☰</button>

<!-- Sidebar -->
<aside class="sidebar">
  <div class="sidebar-header">
    <a href="../index.html">
      <img
        src="../img/logo_horizontal.svg"
        alt="Logo MonsterTalk"
        class="logo_horizontal"
      />
    </a>
  </div>

  <nav>
    <ul>
      <li>
        <a href="#">
          <img
            src="../img/icon_monsterhub.svg"
            alt="icone Monster Hub"
            class="icon_menu"
          />
          Monster Hub
        </a>
      </li>
      <li>
        <a href="#">
          <img
            src="../img/icon_classe.svg"
            alt="icone classe"
            class="icon_menu"
          />
          classe
        </a>
      </li>
      <li>
        <a href="#">
          <img
            src="../img/icon_progresso.svg"
            alt="icone Progresso"
            class="icon_menu"
          />
          Meu Progresso
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../img/icon_forum.svg" alt="iconeFórum" class="icon_menu" />
          Fórum
        </a>
      </li>
    </ul>
  </nav>
</aside>
<!-- Fim Sidebar -->
